*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid black;
  width: 400px;
  height: 550px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
}

.display_container {
  border: 2px solid black;
  height: 120px;
  width: 356px;
  border-radius: 5px;
  padding: 19px;
}

.first_display,
.second_display {
  text-align: right;
  margin-bottom: 15px;
  border: 1px solid black; /* For debugging */
}

.first_display {
  font-size: 18px;
}

.second_display {
  font-size: 34px;
}

.btn_container {
  border: 2px solid black; /* For debugging */
  margin-top: 18px;
}

.first_groupBtn {
  border: 1px solid black; /* For debugging */
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  gap: 10px;
}

.clear_btn,
.delete_btn {
  font-size: 20px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
}