*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text: #d8fdf4;
  --background: #033026;
  --primary-button: #e39af9;
  --secondary-button: #055240;
  --accent: #f3c839;
  --secondary-background: #FFFAFA;
  --third-button: #d43ef9;
}

button {
  cursor: pointer;
  box-shadow: 2px 3px;
  outline: none;
}

button:hover {
  background-color: var(--secondary-background); /* This color is just an example */
}

button:active {
  box-shadow: 0px 0px;
  transform: translateY(2px);
  transform: translateX(2px);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background); /* Probably gonna change */
}

.container {
  border: 2px solid black;
  width: 400px;
  height: 562px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 23px;
  box-shadow: 3px 4px; /* Modify this later */
  background-color: var(--accent); /* Probably gonna change */
}

.display_container {
  border: 2px solid black;
  height: 120px;
  width: 356px;
  border-radius: 5px;
  padding: 19px;
  background-color: var(--secondary-background);
}

.first_display,
.second_display {
  text-align: right;
  margin-bottom: 15px;
}

.first_display {
  font-size: 18px;
}

.second_display {
  font-size: 34px;
}

.btn_container {
  margin-top: 18px;
}

.first_groupBtn {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  gap: 10px;
}

.clear_btn,
.delete_btn {
  font-size: 20px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  background-color: var(--third-button);
}

.second_groupBtn {
  margin-top: 12px;
  height: 290px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.buttons {
  width: 80px;
  font-size: 26px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  background-color: aquamarine;
}

.operator {
  background-color: var(--primary-button);
}

.footer {
  margin-top: 50px;
  font-size: 26px;
  color: var(--text);
}