*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid black;
  width: 400px;
  height: 550px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
}

.display_container {
  border: 2px solid black;
  height: 120px;
  width: 356px;
  border-radius: 5px;
}